.container {
    flex-grow: 1;

    margin-top: 25px;

    display: flex;
    flex-direction: column;
}

.documentContainer {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;

    gap: 10px;
}
