.container {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    gap: 5px;
}

.document-title-container {
    display: flex;
    flex-grow: 1;
    align-items: center;

    margin-bottom: 10px;
    height: 44px;
}

.title {
    font-size: 20px;

    margin: 0 10px 0 0;
    width: 200px;
}

.input {
    padding-left: 10px;

    width: 400px;
    height: 42px;

    background: var(--button);

    border: none;
    border-radius: 10px;

    color: var(--foreground);
    font-size: 16px;
}

.input:focus {
    outline: none;
    border: none;
}
