.container {
    display: flex;
    flex-direction: column;

    width: fit-content;

    z-index: 100;
}

.button {
    margin-left: 10px;
    margin-right: 10px;

    padding: 10px;

    --size: 35px;

    height: var(--size);
    width: var(--size);
}

.button svg {
    height: fit-content;
    width: fit-content;
}

.button:hover {
    background: var(--element-hover);
    border-radius: 10px;
}

.settings {
    position: fixed;
    bottom: 10px;
}