.checkbox-wrapper {
    /*margin-left: 10px;*/

    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    padding-left: 3px;
}

.checkbox-wrapper input {
    opacity: 0;
    width: 24px;
    height: 24px;

    margin: 0;
    position: absolute;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox {
    width: 24px;
    height: 24px;

    /*background-color: #53545a;*/
    background-color: #60636b;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-wrapper input:checked + .custom-checkbox {
    background-color: #53545a;
}

.checkbox-wrapper input:checked + .custom-checkbox::after {
    content: "✓";
    color: var(--foreground);
    font-size: 15px;
}