.container {
    display: flex;
    gap: 50px;
}

.container div {
    display: flex;
    gap: 15px;
    --size: 20px;
}

.container p {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 20px Montserrat, sans-serif;
    color: var(--foreground);

    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали (опционально) */

}

.container input {
    color: var(--foreground);
    background-color: var(--button);

    padding: 10px var(--size);

    border: none;
    border-radius: 10px;

    font-size: 16px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color-scheme: dark;
    height: 24px;
}



.container input:hover {
    background: var(--element-hover);
}
