.center-column-with-gaps {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    justify-content: center;
}

.info-block {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: 346px;
}

.header-text-container {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 16px Montserrat, sans-serif;
    color: white;
}

.hierarchical-text-container {
    box-sizing: border-box;
    flex: 0 0 auto;
    min-width: 197px;
    width: 200px;
    color: white;
}

.input-field-with-border-radius {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-left: 9px;
    font: 500 16px Montserrat, sans-serif;
    background: var(--button);
    border: none;
    border-radius: 10px;
    color:var(--foreground);
}

.input-style-f62::placeholder {
    color: white;
}

.personal-info-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: 346px;
    margin-top: -4px;
}

.profile-info-heading {
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 94px;
    padding: 0;
    margin: 0;
    font: 500 16px Montserrat, sans-serif;
    color: white;
    text-align: left;
}

.sport-info-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: 347px;
}

.selectable-item-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 197px;
    height: 44px;
    padding-right: 12.5px;
    padding-left: 9px;
    background: var(--button);
    border-radius: 10px;
}

.status-label {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 16px Montserrat, sans-serif;
    color: var(--foreground);
}

.svg-container1 {
    display: flex;
    flex: 0 0 auto;
    width: 14px;
    height: 14px;
}

.municipality-education-section {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: 346px;
    margin-top: 3px;
}

.municipal-education-heading {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 16px Montserrat, sans-serif;
    color: white;
    text-align: left;
}

.organization-info-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: 346px;
    margin-top: -5px;
}

.flex-row-with-spacing {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    min-width: 346px;
    margin-top: 2px;
}
