.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99;

    box-sizing: border-box;
    border-radius: 20px 0 0 0;

    padding: 20px;
    margin-left: 75px;
    margin-top: 40px;


}

.athlete-profile-card {
    /*display: flex;*/
    /*flex-direction: column;*/

    flex-grow: 1;

    background: var(--background-content);

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16px;

    /*width: 100%;*/
    max-width: fit-content;

    max-height: 90vh;
    /*max-width: calc(90vw - 75px);*/

    padding: 15px;
    /*position: relative;*/
}

.close-button {
    background-color: unset;
    border: none;
    /*background-color: var(--button);*/

    /*border: none;*/
    /*border-radius: 10px;*/

    /*font-size: 16px;*/
    /*color: var(--foreground);*/

    /*user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/

    width: 40px;
    height: 40px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.close-button svg {

    /*background-color: var(--button);*/

    /*border: none;*/
    /*border-radius: 10px;*/

    /*font-size: 16px;*/
    /*color: var(--foreground);*/

    /*user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/

    width: 25px;
    height: 25px;
    fill: white;
}
