.container table {
    border-spacing: 0; /* Заменяем collapse */
    /*border: 1px solid white;*/
    /*!*border-radius: 20px;*!*/
}

.container th, .container td {
    border: 1px solid #dddfe1;
    padding: 10px; /* Отступы со всех сторон */
    margin: 0;
    font: 500 16px Montserrat, sans-serif;
    color: white;
}

.container th:first-child {
    border-radius: 20px 0 0 0
}

.container th:last-child {
    border-radius: 0 20px 0 0
}

.container tr:last-child td:first-child {
    border-radius: 0 0 0 20px
}

.container tr:last-child td:last-child {
    border-radius: 0 0 20px 0
}

.container {
    margin-top: 10px;
    flex: 1;
    padding-right: 10px;
}

.container {
    overflow-y: scroll;
    overflow-x: hidden;

    height: 100%;

    --scrollbarBg: #28292e;
    --scrollbarThumb: #686868;
    --scrollbarWidth: 12px;
    /*--scrollbarBorder: 4px solid var(--scrollbarBg);*/
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.container::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

.container::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    /*border: var(--scrollbarBorder);*/
}

.container::-webkit-scrollbar-thumb:hover {
    background: var(--element-hover);
}
