/*.modal {*/
/*    !*display: none; !* Скрыто по умолчанию *!*!*/
/*    position: fixed; !* Остается на месте при прокрутке *!*/
/*    z-index: 1; !* Находится поверх других элементов *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Полная ширина *!*/
/*    !*height: 100%; !* Полная высота *!*!*/
/*    overflow: auto; !* Включить прокрутку, если нужно *!*/
/*    background-color: rgba(0, 0, 0, 0.4); !* Черный с прозрачностью *!*/

/*    !*!* Центрирование содержимого *!*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*}*/

/*!* Стили для содержимого модального окна *!*/
/*.modal-content {*/
/*    !*background-color: #fefefe;*!*/
/*    margin: 15% auto; !* 15% от верха и по центру *!*/
/*    padding: 20px;*/
/*    !*border: 1px solid #888;*!*/
/*    width: 80%; !* Ширина может быть другой *!*/
/*    max-width: 600px; !* Максимальная ширина *!*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*}*/

.modal {
    background: var(--background-content);
    border-radius: 20px 0 0 0;
    margin: -20px;

    /*--padding-size: 20px;*/

    /*width: 100vw;*/

    /*box-sizing: border-box;*/
    /*height: calc(100vh - var(--title-bar-height));*/
    /*max-height: calc(100vh - var(--title-bar-height));*/

    /*padding: var(--padding-size);*/

    /*display: flex;*/
    /*flex-direction: column;*/


    display: none;
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*z-index: 1000;*/

    /* Центрирование содержимого */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.athlete-profile-card {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 17.5px 14px 50px;
    background: var(--background-content);
    border-radius: 20px;

    width: 500px;
}

.svg-container {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.athlete-info-card1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 12.5px;
}

.athlete-info-card {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 98px;
    padding: 0;
    padding-top: 12px;
    padding-right: 11px;
    padding-left: 11px;
    margin: 0;
    font: 500 12px Montserrat, sans-serif;
    color: var(--foreground);
    background: var(--button);
    border-radius: 10px;
}
.doping-check-controls {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
}
.doping-check-button1 {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 346px;
  min-width: 346px;
  height: 35px;
  font: 500 16px Montserrat, sans-serif;
  color: white;
  cursor: pointer;
  background: var(--button);
  border: none;
  border-radius: 10px;
}
.doping-check-button {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 346px;
  min-width: 346px;
  height: 35px;
  margin-top: 12px;
  font: 500 16px Montserrat, sans-serif;
  color: white;
  cursor: pointer;
  background:var(--button);
  border: none;
  border-radius: 10px;
}
.save-button-style {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 346px;
  min-width: 346px;
  height: 35px;
  margin-top: 27px;
  font: 500 16px Montserrat, sans-serif;
  color: white;
  cursor: pointer;
  background: var(--button);
  border: none;
  border-radius: 10px;
}
